*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-size: 18px;
}

/*HEADER*/
header{
    position: fixed;
    width: 100%;
    z-index: 4;
}
.container-header{
    max-width: 1800px;
    display: flex;
    margin: 0 auto;
}
.right-col{
    width: 50%;
}
.left-col{
    width: 50%;
}
.logo-drop{
    width: 110px;
    padding-left: 10px;
}

/*JUMBO*/
.container-jumbotron{
    max-width: 1136px;
    display: flex;
    margin: 0 auto;
}
h1{
    font-size: 70px;
}
.title{
    height: 200px;
    width: 100%;

}
.col-txt{
    width: 40%;
    height: 345px;
}
.col-img{
    width: 60%;
    height: 400px;
}
.img-jumbo{
    width: 696px;
    height: 407px;
}
/*MAIN*/
main{
    padding-top: 60px;
}
.container-main{
    max-width: 1080px;
    display: flex;
    margin: 0 auto; 
}
/*first layout*/
.pacchetti{
    width: 100%;

}
.single-col{
    width: 30%;   
}
.team-col{
    width: 30%;
}
.company-col{
    width: 30%;
}
.team-comp-col{
    width: 100%;
}
.tipo-pacchetto{
    width: 100%;
    padding: 15px 0;
}
.col-team-left{
    width: 80%;
}
.col-team-right{
    width: 30%;
}
/*FOOTER*/



/*COMMONS*/
li , ul{
    list-style-type: none;
    display: inline-block;
}
.btn{
    padding-top: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 8px;
}
.dec-none{
    text-decoration: none;
}

.btn-gratis{
    padding: 10px 30px;
}
.btn-contattaci{
    padding: 10px 92px;
}
.line{
    width: 70px;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}


/*UTILS*/
/* backgroud-colors */
.bg-color-wh{
    background-color: #fff;
}
.bg-color-red{
    background-color: red;
}
.bg-color-jumb{
    background-color: #b4d0e6; 
}
.bg-color-green{
    background-color: green;
}
.bg-color-gold{
    background-color: gold;
}
.bg-color-tur{
    background-color: #0061fe;
}

/* colors */
.txt-whi{
    color: white;
}
.txt-blk{
    color: black;
}
.txt-tur{
    color: #0061fe;
}
.txt-trans{
    color: lightslategray;
}

/* Border */
.border-1px-solid-bk{
    border: 1px solid black;
}
.border-bottom-1px{
    border-bottom: 1px solid black;
}

/* margin */
.margin-top-25{
    margin-top: 25px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-165{
    margin-top: 165px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-42-20{
    margin: 42px 20px;   
}


/* text-align */
.text-align-rght{
    text-align: right
}
.text-cent{
    text-align: center;
}

/* font-size */
.font-50{
    font-size: 50px;
}
.font-30{
    font-size: 30px;
}
.font-17{
    font-size: 17px;
}
/* widths */
.width-100{
    width: 100%;
}
/* heights */
.h-90{
    height: 90px;
}
.h-100{
    height: 100px;
}
.h-400{
    height: 400px;
}
.h-600{
    height: 600px;
}
.h-1080{
    height: 1080px;
}
.h-630{
    height: 630px;
}
.h-1100{
    height: 1100px;
}
.h-1500{
    height: 1500px;
}
/*padding*/
.pad-xy-15{
    padding: 15px 0;
}
.pad-top-5{
    padding-top: 5px;
}
.pad-top-10{
    padding-top: 10px;
}
.pad-top-15{
    padding-top: 15px;
}
.pad-top-35{
    padding-top: 35px;
}
.pad-top-60{
    padding-top: 60px;
}
.pad-top-45{
    padding-top: 45px;
}
.pad-bottom-45{
    padding-bottom: 45px;
}
.pad-lf-rh-35{
    padding-left: 35px;
    padding-right: 17px;
}
.pad-rh-lf-10-17{
    padding-right: 10px;
    padding-left: 17px;
}
.pad-lft-35{
    padding-left: 35px;
}
.pad-lft-25{
    padding-left: 25px;
}
.pad-rh-10{
    padding-right: 10px;
}


/* Flex-box */
.al-items-cntr{
    align-items: center;
}
.jus-centr{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}
.flex-wrap{
    flex-wrap: wrap;
}
.ds-flex{
    display: flex;
}
.space-bet{
    justify-content: space-between;
}

.gap-70-45{
    gap: 70px 45px;
}